### CSV DATA PREPARATION

In [1]:
import pandas as pd
import xml.etree.ElementTree as xet
from glob import glob

import numpy as np
import os

In [2]:
path = glob('./images/*.xml')
path

['./images\\11.xml',
 './images\\12.xml',
 './images\\13.xml',
 './images\\14.xml',
 './images\\15.xml',
 './images\\16.xml',
 './images\\17.xml',
 './images\\19.xml',
 './images\\2.xml',
 './images\\20.xml',
 './images\\21.xml',
 './images\\22.xml',
 './images\\23.xml',
 './images\\24.xml',
 './images\\25.xml',
 './images\\26.xml',
 './images\\28.xml',
 './images\\29.xml',
 './images\\30.xml',
 './images\\31.xml',
 './images\\32.xml',
 './images\\34.xml',
 './images\\35.xml',
 './images\\36.xml',
 './images\\37.xml',
 './images\\38.xml',
 './images\\39.xml',
 './images\\40.xml',
 './images\\41.xml',
 './images\\5.xml',
 './images\\6.xml',
 './images\\7.xml',
 './images\\9.xml',
 './images\\D1529ES.xml',
 './images\\D1553ST.xml',
 './images\\D1569AKI.xml',
 './images\\D1594AJW.xml',
 './images\\D1630ADB.xml',
 './images\\D1688ERM.xml',
 './images\\D1705AGC.xml',
 './images\\D1728UI.xml',
 './images\\D1750AHW.xml',
 './images\\D1770AER-1.xml',
 './images\\D1770AER.xml',
 './images\\D1779QC.xml',
 './images\\D1825LIT.xml',
 './images\\D1828MJ.xml',
 './images\\D1834AGG.xml',
 './images\\D2100LN.xml',
 './images\\D2103UDY.xml',
 './images\\D2134SAY.xml',
 './images\\D2154ADR.xml',
 './images\\D2164UEL.xml',
 './images\\D2178KGX.xml',
 './images\\D2270ADM.xml',
 './images\\D2339SGO.xml',
 './images\\D2399UEW.xml',
 './images\\D2436UED.xml',
 './images\\D2571SBM.xml',
 './images\\D2653DF.xml',
 './images\\D2836JX.xml',
 './images\\D2838EZ.xml',
 './images\\D2904ADV.xml',
 './images\\D3187FU.xml',
 './images\\D3546YX.xml',
 './images\\D4052SAQ.xml',
 './images\\D4173LQ.xml',
 './images\\D4340ZBQ.xml',
 './images\\D4878ADZ.xml',
 './images\\D4920ZDS.xml',
 './images\\D4990UCS.xml',
 './images\\D5626GF.xml',
 './images\\D5797ZCN.xml',
 './images\\D6205SBS.xml',
 './images\\D6266XCI.xml',
 './images\\D6326SAV.xml',
 './images\\D6531SBF.xml',
 './images\\D6967SBO.xml',
 './images\\D8231CG-1.xml',
 './images\\D8231CG.xml',
 './images\\D8264FO.xml',
 './images\\IMG20230301145545_032636.xml',
 './images\\IMG20230301145549_032044.xml',
 './images\\IMG20230301145600_033554.xml',
 './images\\IMG20230301145610_035202.xml',
 './images\\IMG20230301145618_033932.xml',
 './images\\IMG20230301145627_035133.xml',
 './images\\IMG20230301145631_033054.xml',
 './images\\IMG20230301145635_034523.xml',
 './images\\IMG20230301145639_034825.xml',
 './images\\IMG20230301145643_033639.xml',
 './images\\IMG20230301145647_034436.xml',
 './images\\IMG20230301145738_032237.xml',
 './images\\IMG20230301145810_032502.xml',
 './images\\IMG20230301145855_033225.xml',
 './images\\IMG20230301145900_034413.xml',
 './images\\IMG20230301145911_035036.xml',
 './images\\IMG20230301150017_035106.xml',
 './images\\IMG20230301150021_034229.xml',
 './images\\IMG20230301150025_033202.xml',
 './images\\IMG20230301150033_034044.xml',
 './images\\IMG20230301150044_033353.xml',
 './images\\IMG20230301150047_033532.xml',
 './images\\IMG20230301150405_032916.xml',
 './images\\IMG20230301150515_034505.xml',
 './images\\IMG20230301150521_034928.xml',
 './images\\IMG20230301150550_035232.xml',
 './images\\IMG20230301150743_033856.xml',
 './images\\IMG20230301150819_033000.xml',
 './images\\IMG20230301150823_034549.xml',
 './images\\IMG20230301150825_033422.xml',
 './images\\IMG20230301150829_034747.xml',
 './images\\IMG20230301150833_032150.xml',
 './images\\IMG20230301150837_034348.xml',
 './images\\IMG20230301150843_033330.xml',
 './images\\IMG20230301150853_032936.xml',
 './images\\IMG20230301150901_032725.xml',
 './images\\IMG20230301150904_034147.xml',
 './images\\IMG20230301150909_035258.xml',
 './images\\IMG20230301150915_033446.xml',
 './images\\IMG20230301150922_034128.xml',
 './images\\IMG20230301150924_032614.xml',
 './images\\IMG20230301150926_034323.xml',
 './images\\IMG20230301150929_034855.xml',
 './images\\IMG20230301150933_032340.xml',
 './images\\IMG20230301150935_033812.xml',
 './images\\IMG20230301150941_032745.xml',
 './images\\IMG20230301150944_035322.xml',
 './images\\IMG20230301151003_033307.xml',
 './images\\IMG20230301151006_032214.xml',
 './images\\IMG20230301151009_033751.xml',
 './images\\IMG20230301151126_032529.xml',
 './images\\IMG20230301151129_033117.xml',
 './images\\IMG20230301151131_032702.xml',
 './images\\IMG20230301151134_033704.xml',
 './images\\IMG20230301151401_032118.xml',
 './images\\IMG20230301151536_032321.xml',
 './images\\IMG20230301151559_034207.xml',
 './images\\IMG20230301151602_033140.xml',
 './images\\IMG20230301151629_033509.xml',
 './images\\IMG20230301151631_034613.xml',
 './images\\IMG20230301151634_034000.xml',
 './images\\IMG20230301151639_033910.xml',
 './images\\IMG20230301172144_053213.xml',
 './images\\IMG20230301172150_053026.xml',
 './images\\IMG20230301172445_053237.xml',
 './images\\IMG20230301172507_053608.xml',
 './images\\IMG20230301172519_053950.xml',
 './images\\IMG20230301172628_053515.xml',
 './images\\IMG20230301172634_053400.xml',
 './images\\IMG_20230227_154037.xml',
 './images\\IMG_20230227_154115.xml',
 './images\\IMG_20230227_154133.xml',
 './images\\IMG_20230227_154148.xml',
 './images\\IMG_20230227_154300.xml',
 './images\\IMG_20230227_154617.xml',
 './images\\IMG_20230227_171834.xml',
 './images\\IMG_20230227_171903.xml',
 './images\\IMG_20230227_171939.xml',
 './images\\IMG_20230227_181120.xml',
 './images\\IMG_20230227_181138.xml',
 './images\\IMG_20230227_195915.xml',
 './images\\IMG_20230228_093426.xml',
 './images\\IMG_20230228_134040.xml',
 './images\\IMG_20230228_135035.xml',
 './images\\IMG_20230228_164251.xml',
 './images\\IMG_20230228_164312.xml',
 './images\\IMG_20230228_173609.xml',
 './images\\IMG_20230228_181224.xml',
 './images\\IMG_20230228_181255.xml',
 './images\\IMG_20230228_184605.xml',
 './images\\IMG_20230228_200019.xml',
 './images\\IMG_20230228_202303.xml',
 './images\\IMG_20230228_202502.xml',
 './images\\IMG_20230228_202537.xml',
 './images\\IMG_20230301_093818.xml',
 './images\\IMG_20230301_175817.xml',
 './images\\IMG_20230301_175857.xml',
 './images\\IMG_20230301_175916.xml',
 './images\\IMG_20230301_180009.xml',
 './images\\IMG_20230301_180030.xml',
 './images\\IMG_20230301_180104.xml',
 './images\\IMG_20230301_180814.xml',
 './images\\IMG_20230302_084114.xml',
 './images\\IMG_20230302_105608.xml',
 './images\\IMG_20230302_105626.xml',
 './images\\IMG_20230302_143847.xml',
 './images\\IMG_20230302_144428.xml',
 './images\\IMG_9626.xml',
 './images\\IMG_9627.xml',
 './images\\IMG_9628.xml',
 './images\\IMG_9642.xml',
 './images\\IMG_9646.xml',
 './images\\IMG_9647.xml',
 './images\\IMG_9648.xml',
 './images\\IMG_9651.xml',
 './images\\IMG_9652.xml',
 './images\\IMG_9656.xml',
 './images\\IMG_9658.xml',
 './images\\IMG_9926.xml',
 './images\\IMG_9928.xml',
 './images\\IMG_9932.xml',
 './images\\IMG_9933.xml',
 './images\\IMG_9935.xml',
 './images\\IMG_9937.xml',
 './images\\pelat-putih.xml',
 './images\\plat-nomor-putih-728x404.xml',
 './images\\plat-nomor-putih-daihatsu-sigra.xml',
 './images\\plat-nomor-putih3405.xml',
 './images\\Shutterstock_2207597621-1-1.xml',
 './images\\Z1401WZ.xml',
 './images\\Z1820KB.xml',
 './images\\Z3547RA.xml']

In [3]:
labels_dict = dict(filepath=[],xmin=[],xmax=[],ymin=[],ymax=[])
for filename in path:

    #filename = path[0]
    info = xet.parse(filename)
    root = info.getroot()
    member_object = root.find('object')
    labels_info = member_object.find('bndbox')
    xmin = int(labels_info.find('xmin').text)
    xmax = int(labels_info.find('xmax').text)
    ymin = int(labels_info.find('ymin').text)
    ymax = int(labels_info.find('ymax').text)
    #print(xmin,xmax,ymin,ymax)
    labels_dict['filepath'].append(filename)
    labels_dict['xmin'].append(xmin)
    labels_dict['xmax'].append(xmax)
    labels_dict['ymin'].append(ymin)
    labels_dict['ymax'].append(ymax)

In [4]:
df = pd.DataFrame(labels_dict)
df

                                     filepath  xmin  xmax  ymin  ymax
0                             ./images\11.xml   622  1294   688   919
1                             ./images\12.xml   891  1694   241   544
2                             ./images\13.xml   259   791   692   870
3                             ./images\14.xml   466   906   543   695
4                             ./images\15.xml   147  1028   201   649
..                                        ...   ...   ...   ...   ...
208         ./images\plat-nomor-putih3405.xml   441   584   280   340
209  ./images\Shutterstock_2207597621-1-1.xml   168   817   156   376
210                      ./images\Z1401WZ.xml  1022  1231   503   575
211                      ./images\Z1820KB.xml   644  2022   685  1082
212                      ./images\Z3547RA.xml   653  1613   657  1063

[213 rows x 5 columns]

In [5]:
df.to_csv('labels.csv',index=False)

### YOLO DATA PREPARATION

In [6]:
df = pd.read_csv('labels.csv')
df.head()

          filepath  xmin  xmax  ymin  ymax
0  ./images\11.xml   622  1294   688   919
1  ./images\12.xml   891  1694   241   544
2  ./images\13.xml   259   791   692   870
3  ./images\14.xml   466   906   543   695
4  ./images\15.xml   147  1028   201   649

### Labelling YOLO Format
    center_x, center_y, width , height

In [7]:
# parsing
def parsing(path):
    parser = xet.parse(path).getroot()
    name = parser.find('filename').text
    filename = f'./images/{name}'

    # width and height
    parser_size = parser.find('size')
    width = int(parser_size.find('width').text)
    height = int(parser_size.find('height').text)
    
    return filename, width, height
df[['filename','width','height']] = df['filepath'].apply(parsing).apply(pd.Series)

In [8]:
df.head()

          filepath  xmin  xmax  ymin  ymax         filename  width  height
0  ./images\11.xml   622  1294   688   919  ./images/11.jpg   2048    1536
1  ./images\12.xml   891  1694   241   544  ./images/12.jpg   2048    1536
2  ./images\13.xml   259   791   692   870  ./images/13.jpg    960    1280
3  ./images\14.xml   466   906   543   695  ./images/14.jpg   1280     968
4  ./images\15.xml   147  1028   201   649  ./images/15.jpg   1280     674

In [9]:
# center_x, center_y, width , height
df['center_x'] = (df['xmax'] + df['xmin'])/(2*df['width'])
df['center_y'] = (df['ymax'] + df['ymin'])/(2*df['height'])

df['bb_width'] = (df['xmax'] - df['xmin'])/df['width']
df['bb_height'] = (df['ymax'] - df['ymin'])/df['height']

In [10]:
df.head()

,filepath,xmin,xmax,ymin,ymax,filename,width,height,center_x,center_y,bb_width,bb_height
0,./images\11.xml,622,1294,688,919,./images/11.jpg,2048,1536,0.467773,0.523112,0.328125,0.150391
1,./images\12.xml,891,1694,241,544,./images/12.jpg,2048,1536,0.631104,0.255534,0.392090,0.197266
2,./images\13.xml,259,791,692,870,./images/13.jpg,960,1280,0.546875,0.610156,0.554167,0.139063
3,./images\14.xml,466,906,543,695,./images/14.jpg,1280,968,0.535937,0.639463,0.343750,0.157025
4,./images\15.xml,147,1028,201,649,./images/15.jpg,1280,674,0.458984,0.630564,0.688281,0.664688

In [11]:
### split the data into train and test
df_train = df.iloc[:200]
df_test = df.iloc[200:]

In [12]:
from shutil import copy

In [13]:
train_folder = './data_images/train'

values = df_train[['filename','center_x','center_y','bb_width','bb_height']].values
for fname, x, y, w, h in values:
    image_name = os.path.split(fname)[-1]
    txt_name = os.path.splitext(image_name)[0]
    
    dst_image_path = os.path.join(train_folder, image_name)
    dst_label_file = os.path.join(train_folder, txt_name + '.txt')
    
    # copy each image into the folder
    copy(fname, dst_image_path)

    # generate .txt which has label info
    label_txt = f'0 {x} {y} {w} {h}'
    with open(dst_label_file,mode = 'w') as f:
        f.write(label_txt)
        
        f.close()

In [14]:
test_folder = './data_images/test'

values = df_test[['filename','center_x','center_y','bb_width','bb_height']].values
for fname, x, y, w, h in values:
    image_name = os.path.split(fname)[-1]
    txt_name = os.path.splitext(image_name)[0]
    
    dst_image_path = os.path.join(test_folder, image_name)
    dst_label_file = os.path.join(test_folder, txt_name + '.txt')
    
    # copy each image into the folder
    copy(fname, dst_image_path)

    # generate .txt which has label info
    label_txt = f'0 {x} {y} {w} {h}'
    with open(dst_label_file,mode = 'w') as f:
        f.write(label_txt)
        
        f.close()